<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}">
        <img src="{{ site.logo }}" alt="{{ site.title }}" class="logo">
      </a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      {%- comment -%}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {%- endcomment -%}
      {%- assign pages_list = site.pages -%}
      {%- for node in pages_list -%}
        {%- if node.title != null -%}
          {%- if node.layout == "page" -%}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      <br />
      <a href="{{ site.author.linkedin }}" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <span>&nbsp;</span>
      <a href="{{ site.author.x }}" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
      <hr />
      {%- assign posts_list = site.posts -%}
      <ul>
      {%- for node in posts_list -%}
        {%- if node.title != null -%}
          {%- if node.layout == "post" -%}
            <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      </ul>
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
